/* FOOTER */

/* div suscribe */
footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 0;
    margin: auto;
}

footer .container__suscribe {
    margin: auto;
    padding: 2rem;
}

footer .container__suscribe input {
    padding: .7rem;
    margin: 2rem 0;
    width: 400px;
}

footer .container__suscribe button {
    width: 120px;
    padding: .7rem;
    background-color: #000;
    color: rgb(255, 255, 255);
}

/* div infos */

footer .container__infos {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    margin: auto;
    justify-content: space-between;
}

footer .container__infos h4 {
    padding-bottom: 1.5rem;
}

footer .container__infos ul li {
    padding: .4rem 0;
}

footer .container__info-redes .redes-icons {
    display: flex;
    gap: 20px;
}

footer i {
    font-size: 1.5rem;
}

footer .bi-facebook {
    color: blue;
}

footer .bi-instagram {
    color: rgb(194, 95, 3);
}

footer .container__tarjetas .medios {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

footer .container__tarjetas img {
    width: 50px;
}